#yay-filter-container {
    cursor: pointer;
    margin-left: 32px;
    height: 24px;
    color: var(--yt-spec-text-secondary);
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

#yay-filter-container svg {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: -4px;
    margin-right: 4px;
    fill: var(--yt-spec-text-secondary);
}

#yay-filter-label {
    margin-left: 28px;
}

#yay-filter-status {
    padding-left: 4px;
}

#yay-filter-info {
    font-size: 12px;
    font-weight: 400;
    padding-left: 4px;
}
