#yay-filter-container {
    cursor: pointer;
    margin-left: 32px;
    height: 23px;
    color: var(--yt-spec-text-secondary);
    font-family: Roboto, Arial, sans-serif;
    font-size: var(--ytd-tab-system-font-size);
    font-weight: var(--ytd-tab-system-font-weight);
    letter-spacing: var(--ytd-tab-system-letter-spacing);
    text-transform: var(--ytd-tab-system-text-transform);

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}

#yay-filter-container .yay-tooltip {
    position: absolute;
    visibility: hidden;
    z-index: 100;
    margin-top: 46px !important;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: var(--ytd-thumbnail-attribution_-_font-size);
    font-weight: var(--ytd-thumbnail-attribution_-_font-weight);
    line-height: var(--ytd-thumbnail-attribution_-_line-height);
    letter-spacing: var(--ytd-thumbnail-attribution_-_letter-spacing);
    text-transform: var(--ytd-thumbnail-attribution_-_text-transform);
    background-color: var(--paper-tooltip-background, #616161);
    color: var(--paper-tooltip-text-color, white);
    padding: 8px;
    border-radius: 2px;
}

#yay-filter-container:hover .yay-tooltip {
    visibility: visible;
    opacity: 0.9;
}

#yay-filter-container svg {
    position: absolute;
    width: 24px;
    height: 24px;
    margin-top: -4px;
    margin-right: 4px;
    fill: var(--yt-spec-text-secondary);
}

#yay-filter-label {
    margin-left: 28px;
}

#yay-filter-status {
    padding-left: 4px;
}

#yay-filter-info {
    font-size: 12px;
    font-weight: 400;
    padding-left: 4px;
}
